@import "tailwindcss";
/* #EE4D9B */
:root{
    --NavH: 4rem;
    --asideW: 5rem;
}
#root{
    background-color: #000;
    color: white;
    height: 100vh;
    width: 100%;
}
*{
    font-family: "Roboto";
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-size: 16px;
}
@font-face {
    font-family: "Roboto";
    src: url("Fontes/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}
body{
    background-color: #000;
}
nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    width: 100%;
    background-color: #262626;
    height: var(--NavH);
}
nav:last-child{
    justify-content: start;
}
.Nav-Link{
    margin: 0 1rem;
    height: 100%;
}
.Nav-Link:hover{
    background-color: azure;
}
.Nav-Link-Div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40%;
    gap: 2rem;
}
.search-bar-Div{
    height: var(--NavH);
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar{
    border-radius: 1rem;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.2);
    height: 2rem;
    padding: 1rem;
    width: 95%;
}
.PerfilDiv{
    display: flex;
    width: 20%;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
    font-size: 18px;
}
.PerfilDiv img{
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 0.5rem;
    padding: 0% 5%;
}
.SobreNosMain{
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.25fr 1fr 0.5fr 1fr 1fr 0.25fr;
    grid-template-areas: 
    'header header header'
    'ultimojogo Thumbnail placa'
    'liga Thumbnail placa'
    'liga partidas aovivo'
    'Destaque partidas video'
    'creditos partidas video';
    justify-content: center;
    align-items: center;
}
.IndexMain{
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.25fr 1fr 0.5fr 1fr 1fr 0.25fr;
    grid-template-areas: 
    'header header header'
    'ultimojogo Thumbnail placa'
    'liga Thumbnail placa'
    'liga partidas aovivo'
    'Destaque partidas video'
    'creditos partidas video';
    justify-content: center;
    align-items: center;
}
.creditos{
    background-color: aqua;
    height: 100%;
    width: 100%;
    grid-area: creditos;
    color: #000;
}
.video{
    height: 100%;
    width: 100%;
    grid-area: video;
    color: #000;
    border-radius: 1rem;
}
.ultimoJogo{
    background-color: aqua;
    height: 100%;
    width: 100%;
    grid-area: ultimojogo;
    color: #000;
}
.proximasPartidas{
    background-color: aqua;
    height: 100%;
    width: 100%;
    grid-area: partidas;
    color: #000;
}
.header{
    grid-area: header;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.aoVivo{
    border-radius: 1rem;
    grid-area: aovivo;
    height: 100%;
    width: 100%;
    background-color: #fefefe;
    border-width: 1px;
}
.partidaDestaque{
    grid-area: Destaque;
    height: 100%;
    width: 100%;
    background-color: wheat;
}
.thumbnail{
    grid-area: Thumbnail;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom right, #EE4D9B, white);
    border-radius: 1rem;
}
.thumbnailtext{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.thumbnailtimeA, .thumbnailtimeB{
    display: flex;
    justify-content: center;
    align-items: center;
}
.thumbnailtext img{
    width: 5rem;
    height: 5rem;
}
.thumbnailtext h1{
    font-weight: bold;
    font-size: 32px;
}
.placa{
    grid-area: placa;
    height: 100%;
    width: 100%;
    background-color: blue;
}
.liga{
    grid-area: liga;
    height: 100%;
    width: 100%;
    background-color: blue;
}